@import "tailwindcss";

:root {
  background: #050505;
  color: white;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #050505;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

::selection {
  background: rgba(59, 130, 246, 0.4);
  color: white;
}